
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

html{ 
  /* height: 100vh; */
}
body {
  height: 100vh;
  font-family: Montserrat;
  background-image: url("./image/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
/* ul{
  padding-left: 0px;
}
li{ 
  padding-left: 0px;
  margin-left: 0px;
  text-align: left;
} */
#content{
  padding: 0 5px;
  display: grid;
  height: 100vh;
  grid-template-columns: repeat (1, 1fr);
  grid-auto-rows: minmax(auto, auto);
  grid-template-areas: 
  "item1"
  "item2" 
  "item3"
  ;
}
.item1{
  grid-area: item1;
  align-self: top;
  justify-self: left;
}
.item2{
  grid-area: item2;
  align-self: top;
  justify-self: left;
}
.item3{
  grid-area: item3;
  align-self: top;
  justify-self: left;
}
p {
   text-align: left;
   line-height: 24px;
   color: white;
   text-transform: uppercase;
}
.somos{
  font-size: large;
}
.construccion{
  margin-bottom: 20px;
  font-size: medium;
}
.social{
  font-size: large;
  text-transform: none;
  margin-bottom: 10px;
}
.mail{
  margin-bottom: 50px;
}
span{
  font-weight: bold;
}

a{
  color: white;
  text-decoration: none;
}
img{
  color: white;
  margin-top: 20px;
  max-width: 280px;
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* ul{
    padding-left: 0px;
    margin-left: 0px;
  }
  li{ 
    text-align: left;
    padding-left: 0px;
    margin-left: 0px;
  } */
  #content{
    display: grid; 
    padding: 0 20px;
    grid-template-columns: repeat (12, 1fr);
    grid-auto-rows: minmax(auto, auto);
    height: 100vh;
    grid-template-areas: 
    ". . . . . . . . . . . . "
    ". item1 item1 . . . . . . . item2 ."
    ". . . . . . . . . . . ." 
    ". . . . . . . . . . . ."
    ". item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3"
    ;
  }
  .item1{
    grid-area: item1;
    align-self: top;
    justify-self: start;
  }
  .item2{
    grid-area: item2;
    align-self: top;
    justify-self: end;
  }
  .item3{
    grid-area: item3;
    align-self: top;
    justify-self: start;
  }
  p {
    text-align: justify;
    margin-top: 15px;
    color: white;
    text-transform: uppercase;
    line-height: 45px;
  }
  .somos{
    font-size: 22px;
  }
  .construccion{
    font-size: 22px;
    line-height: 20px;
  }
  .social{
    font-size: 22px;
    margin-bottom: 10px;
    text-transform: none;
    text-align: left;
    /* line-height: 0px; */
  }
  .mail{
    margin-left: 10px;
    text-transform: none;
    font-size: 22px;
  }
  .mail i{ 
    margin-right: 10px;
    font-size: 25px;
  }
  .insta{
    margin-left: 10px;
    text-transform: none;
    font-size: 22px;
  }
  .insta i{
    margin-right: 10px;
    font-size: 25px;
  }
  img{
    color: white;
    margin-top: 30px;
    max-width: 300px;
  }
  
}
